body {
    font-size: 16px;
    font-weight: 300;
}

nav {
    border-bottom: 1px solid #e0dfdf;
}

.main-content {
    padding: 30px 10px;
}

.item-title {
    margin-bottom: 0px;
}

.item-img {
    max-width: 350px;
    margin-bottom: 10px;
}

.lot-number {
    font-size: 15px;
}

.bold-header {
    font-weight: 500;
}

.lot-description {
    border: 2px solid #e0dfdf;
    border-radius: 10px;
    padding: 15px;
    max-width: 550px;
    margin: 12px;
}

#bid-amount {
    margin-bottom: .75rem;
}

#footer {
    background-color: #e0dfdf;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

/* @media (min-width: 576px) {
    .item-img {
        max-width: 450px;
    }
}

@media (min-width: 768px) {
    .item-img {
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    .item-img {
        max-width: 420px;
    }
}

@media (min-width: 1200px) {
    .item-img {
        max-width: 500px;
    }
} */