html {
    height: 100%;
}

body {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem; 
}

nav {
    border-bottom: 1px solid #e0dfdf;
}

.navbar-light .navbar-text {
    color: black;
}

.main-content {
    padding: 30px 10px;
    margin: 0 auto;
}

.row {
    justify-content: space-around;
}

.item-title {
    margin-bottom: 0px;
}

.item-img {
    max-width: 300px;
    margin-bottom: 10px;
}

.lot-number {
    font-size: 15px;
}

.bold-header {
    font-weight: 500;
}

.lot-description {
    border: 2px solid #e0dfdf;
    border-radius: 10px;
    padding: 15px;
    max-width: 350px;
    margin: 12px;
}

#bid-amount {
    margin-bottom: .75rem;
}

.register-form, .login-form {
    max-width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 40px;
    box-sizing: initial;
}

.register-form .form-row, .login-form .form-row  {
    width: 100%;
}

.register-form input, .login-form input {
    padding: 7px;
    width: 100%;
    border-radius: 5px;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: rgba(0,0,0,0.5);
}

.payment-img {
    margin-top: 20px;
    max-width: 340px;
    padding: 0;
}

.center-text {
    text-align: center;
}

#footer {
    background-color: #e0dfdf;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

@media (min-width: 576px) {
    .lot-description {
        max-width: 500px;
    }
    .item-img {
        max-width: 350px;
    }
}

@media (min-width: 992px) {
    .navbar-light .navbar-text {
        position: absolute;
        right: 25px;
    }
}

.auction-title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-bottom: 20px;
}