{{> header}}
  <div class="container main-content">
    <div class="row">
      <h1> Not signed in</h1>
          </div>
      <div class="row">
      <h3> Please sign in to continue</h3>
      </div>
      <div class="row">
        <a href="/login"> Click here</a>
      </div>

  </div>

{{> footer}}
