{{> header}}
<div class="container main-content logout">
  <div class="row">
        <div class="col">
            <h2> You have successfully signed out</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4> Thanks for visiting! </h4>
        </div>
    </div>
</div>


<script type="text/javascript">
setTimeout( ()=> { window.location = '/login'}, 6000)
</script>
{{> footer}}
