{{> header}}
<div class="container main-content">
  <div class="row">
    <h1> You have successfully signed out</h1>
        </div>
    <div class="row">
    <h2> Thanks for visiting! </h2>
    </div>

</div>


<script type="text/javascript">
setTimeout( ()=> { window.location = '/login'}, 6000)
</script>
{{> footer}}
